{
  "app_base_url": "https://{{hostname}}",
  "job_output_dir": "/home/{{app_user}}/server/job-output",
  "path_to_db": "/home/{{app_user}}/server/db.sqlite3?mode=rwc",
  "webhook_secret": "{{ webhook_secret }}",
  "github_app_id": {{ github_app_id }},
  "github_app_key": "{{ github_app_key.replace('\n', '\\n') }}",
  "github_repo_owner": "{{ github_repo_owner }}",
  "github_repo_name": "{{ github_repo_name }}",
  "sentry_dsn": "{{ sentry_dsn }}",
  {% if bencher is defined %}
  "bencher": {
    "api_token": "{{ bencher.api_token }}",
    "project_id": "{{ bencher.project_id }}",
    "testbed_id": "{{ bencher.testbed_id }}"
  },
  {% endif %}
  "port": 3000
}
